apiQuiroga/Reportes/Catalogos/repCatFamilias.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="repCatFamilias"
    targetNamespace="http://tempuri.org/repCatFamilias.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/repCatFamilias.xsd"
    xmlns:mstns="http://tempuri.org/repCatFamilias.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

   <xs:element name="Detalle">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="FamiliaID" type="xs:int"/>
            <xs:element name="FamiliaDesc" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>
